.header {
    height: 8vh;
    background-color: rgb(19,96,164);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header:hover {
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 720px) {
    .header {
        height: 12vh;
    }
}