.header {
    height: 8vh;
    background-color: rgb(19,96,164);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .header {
        width: 720px;
    }
}