.body {
    display: flex;
    justify-content: center;
}

.body-wrapper-placeholder, .body-wrapper {
    margin-top: 3%;
}

.body-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
    z-index: 1;
}

.body-wrapper-buttons {
    margin-top: 5%;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .body-wrapper-table {
        display: block;
        width: 100%;
    }

    .body-wrapper-table {
        width: 100%;
        display: block;
    }
    
    .body-wrapper-buttons {
        width: 100%;
    }
}