.table {
    width: 100%;
    display: flex;
    justify-content: center;
}

.griddle-filter {
    height: 30px;
    font-size: 1.3em;
    margin-bottom: 2%;
}

.griddle-row {
    font-size: 1.3em;
}

.griddle-next-button {
    width: 10%;
    height: 40px;
    margin: 3% 0 0 3%;
    font-size: 1.3em;
}

.griddle-previous-button {
    width: 20%;
    height: 40px;
    margin: 3% 3% 0 0;
    font-size: 1.3em;
}

.griddle-settings-toggle {
    display: none;
}

.griddle-page-select {
    width: 10%;
    height: 40px;
    font-size: 1.3em;
}